@page "/Warehouse"
@using Microsoft.Extensions.Localization
@using global::HaoLife.Abp.Warehouse.Localization
@inject IStringLocalizer<WarehouseResource> L
@{
}
<h1>Warehouse</h1>
<p>@L["SamplePageMessage"]</p>