@page
@using Microsoft.Extensions.Localization
@using HaoLife.Abp.Warehouse.Localization
@using HaoLife.Abp.Warehouse.Web.Pages.Warehouse
@model HaoLife.Abp.Warehouse.Web.Pages.Warehouse.IndexModel
@inject IStringLocalizer<WarehouseResource> L

@{
}
<h1>Warehouse</h1>
<p>@L["SamplePageMessage"]</p>
